<h1>
	<img src="assets/peter@2x.jpg" alt="Peter Zlatnar">
</h1>

<section>
	<div id="title">
		<h2>Peter Zlatnar</h2>
		<p>iOS developer</p>
	</div>
	
	<div id="description">
		Hi, I'm Peter software developer from <a href="http://en.wikipedia.org/wiki/Slovenia">Slovenia, Europe</a>. I work as a freelancer so you could <a href="mailto:peter@zlatnar.com">hire me</a>. Most of the time I'm building <a href="https://www.apple.com/ios/">iOS</a> and <a href="https://www.ruby-lang.org/en/">Ruby</a> applications. Here are some of the latest apps I've worked on.
	</div>

	<ul class="apps">
		<li><a href="https://itunes.apple.com/us/app/dubjoy-dubber/id792606382?mt=8" rel="external nofollow" title="Dubber" target="_blank"><img src="assets/dubber.jpg"><span>Dubber</span></a></li>
		<li><a href="https://itunes.apple.com/us/app/povio/id570649602?mt=8" rel="external nofollow" title="Povio" target="_blank"><img src="assets/povio.jpg"><span>Povio</span></a></li>
		<li><a href="https://itunes.apple.com/nz/app/stay-today-same-day-hotel/id516387377?mt=8" rel="external nofollow" title="StayToday" target="_blank"><img src="assets/stay-today.jpg"><span>StayToday</span></a></li>
	</ul>

	<a href="mailto:peter@zlatnar.com" class="hire">Hire Me</a>
</section>

<footer>&copy; 2014 Peter Zlatnar</footer>